html, body {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background-color: #fff;
  color: #000;
  letter-spacing: 0.5px;
  font-family: "Microsoft YaHei", "Source Sans Pro", Arial, sans-serif;
  min-height: 100vh;
  font-size: 10px;
  line-height: 1;
}

footer {
  padding: 20px;
  text-align: center;
  border-top: 1px solid #ddd;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p, input, textarea {
  margin: 0;
  padding: 0;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

a, a:hover, a:focus, a:visited {
  color: #76d067;
}

input:focus, input:hover, input:active, button:focus, button:hover, button:active {
  outline: none;
}

@media (min-width: 1024px) {
  .cdw-wrap {
    padding: 0 10vw
  }
}

/*>=1024的设备*/

@media (min-width: 1100px) {
  .cdw-wrap {
    padding: 0 15vw
  }
}

/*>=1024的设备*/

@media (min-width: 1280px) {
  .cdw-wrap {
    padding: 0 18vw
  }
}

@media (min-width: 1920px) {
  .cdw-wrap {
    padding: 0 20vw
  }
}
